{% extends 'base.html' %}

{% block content %}
<h1>Randings for extremely bored people</h1>
<p>These are random things are for people who are extemely bored. <br>These tasks may take more time so <b>beware</b></p>
<p>Please click on one of the following:</p>
<a href="{% url 'randbored_math' %}" class="button large">Solve Math Problems</a><br><br>
<a href="{% url 'comprehension' %}" class="button large">Comprehension</a><br><br>
<a href="{% url 'exercise' %}" class="button large">Excercise</a><br><br>
{% endblock %}