{% extends 'base.html' %}

{% block content %}
<h1>Comprehension</h1>
<p>
    Read the following paragraph and think of the answers for the following questions. <br>
    You need not write the answers, but just thinking about them is just well enough to make your boring day a bit interesting.
</p>
<h3>The Passage: </h3>
<p>
    It was the end of September, and the equinoctial gales had set in with exceptional violence. 
    All da the wind has screamed and the rain had beaten against the windows, 
    so that even here in the heart of great London we were forced to look up from our routine lives to 
    pay attention. As evening drew in, the storm grew higher and louder, and the wind cried and sobbed like a 
    child in the chimney. Sherlock Holmes sad moodily at one side of the fireplace researching his records of crime,
    while I at the other was deep in one of Clark Russell’s fine sea stories until the howl of the gale from 
    outside seemed to blend with the text. My wife was on a visit to her mother’s and for a few days I was dweller 
    once more at Baker Street. “Why,” said I, glancing at Holmes, “that was surely the bell. Who would come 
    to-night? Some friend of yours, perhaps?”<br>
    “Except yourself I have none,” he answered. “I do not encourage visitors.”<br>
    “A client then?”<br>
    “If so, it is a serious case. Nothing less would bring a man out on such a day and at such an hour. 
    But I take it that it is more likely to be some crony of the landlady’s.”<br>
    Sherlock Holmes was wrong in his conjecture, however, for there came a step in the passage and a tapping at 
    the door. He stretched out this long arm to turn the lamp away from himself and towards the vacant chair upon 
    which a newcomer must sit.<br>
    “Come in!” said he.<br>
    The man who entered was young, well-groomed and neatly clad. The streaming umbrella and his long shining 
    waterproof coat told of the fierce weather through which he had come. He looked about him anxiously in the 
    glare of the lamp, and I could see that his face was pale and his eyes heavy.<br>
    “I owe you an apology,” he said. “I trust that I am not intruding. I fear that I have brought some traces 
    of the storm and rain into your snug chamber.”<br>
    “Give me your coat and umbrella,” said Holmes. “They may rest here on the hook and will be dry presently. 
    You have come up from the south-west, I see.”<br>
    “Yes, from Horsham.”<br>
    “That clay and chalk mixture which I see upon your toe caps is quite distinctive.”<br>
    “I have come for advice.”<br>
    “That is easily got.”<br>
    “And help.” <br>
    “That is not always so easy.”<br>
    “I have heard of you, Mr. Holmes. I heard from Major Prendergast. He said that you could solve anything.”<br>
    “He said too much.”<br>
    “That you are never beaten.”<br>
    “I have been beaten four times – three times by men and once by a woman.”<br>
    “But what is that compared with the number of your successes?”<br>
    “It is true that I have been generally successful. I beg that you will draw your chair up to the fire and 
    favour me with some details as to your case.”<br>
    “It is no ordinary one.”<br>
    “None of those which to me are. I am the last court of appeal.”<br>
    “And et I question, sir, whether in all your experience, you have ever listened to a more mysterious and 
    inexplicable chain of events than those which have happened in my own family.”<br>
    “You fill me with interest,” said Holmes. “Pray give us the essential facts from the commencement, and I 
    can afterwards question you as to those details which seem to me to be most important.”<br> 
    The young man pulled his chair up and pushed his wet feet out towards the blaze.<br>
</p>
<h3>The Questions: </h3>
<p>
    <ol>
        <li>Why had the visitor come to Holmes? Why did he owe an apology to Mr. Holmes?</li>
        <li>How did Holmes know where the visitor had come from?</li>
        <li>Pick out the phrases that tell us of the fierce weather through which the visitor had come to meet 
            Mr. Holmes.</li>
        <li>Where was the story set in?</li>
        <li>What did the visitor know about Mr. Holmes?</li>
        <li>Describe the storm in 30 words.</li>
    </ol>
</p>
<p>
    If you do want to provide answers, you can write them here and they will be directly sent to the creator of this website.
</p>
<form action="/randbored/comprehension/" method="post">
    <label for="1">Answer 1:</label>
    <textarea name="q1" id="1" rows="3" placeholder="Type your answer for the 1st question"></textarea>
    <label for="2">Answer 2:</label>
    <textarea name="q1" id="1" rows="3" placeholder="Type your answer for the 2nd question"></textarea>
    <label for="3">Answer 3:</label>
    <textarea name="q1" id="1" rows="3" placeholder="Type your answer for the 3rd question"></textarea>
    <label for="4">Answer 4:</label>
    <textarea name="q1" id="1" rows="3" placeholder="Type your answer for the 4th question"></textarea>
    <label for="5">Answer 5:</label>
    <textarea name="q1" id="1" rows="3" placeholder="Type your answer for the 5th question"></textarea>
    <label for="6">Answer 6:</label>
    <textarea name="q1" id="1" rows="3" placeholder="Type your answer for the 6th question"></textarea>
</form>
{% endblock %}